@model ArticlePreviewModel

<div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <h6 class="card-subtitle">Rate @Model.Rate</h6>
            <div class="card-text">
                @Html.Raw(Model.Description)   
            </div>

            <a asp-action="Details" asp-route-id="@Model.ArticlePreviewModelId" class="btn btn-primary">Details</a>

        </div>
        <div class="card-footer text-body-secondary">
            by @Model.SourceName at @Model.PublicationDate
        </div>
    </div>
    <br />
</div>
